.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

.App-title {
  font-size: 1.5em;
}

.tile {
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  font-size: 11px;
  text-align: left;
}

.input{
  background: none;
  outline: none;
  border: 0;
  width: 140px;
  margin-top: 10px;
  font-size: 11px;
}

.input-three{
  background: none;
  outline: solid;
  outline-width: 0.1px;
  outline-color: silver;
  border: 0;
  width: 140px;
  margin-top: 10px;
  font-size: 11px;
  position: absolute;
  top: 255px;
  right: 240px;
}

.input:focus{
  border: solid 1px lightgray;
}

textarea{
  resize: none;
  height: 130px;
  width: 130px;

  font-size: 11px;
}

.tweet {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top:10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgrey;
}


.newTweetButton {
  background: red;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
